<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.appointment.mapper.AppointmentConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="appointmentConfigResultMap" type="org.springblade.appointment.entity.AppointmentConfig">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="project_id" property="projectId"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="max_enter" property="maxEnter"/>
        <result column="max_apply" property="maxApply"/>
        <collection property="projectInfo" ofType="org.springblade.project.entity.ProjectInfo">
            <id column="projectId" property="projectId"/>
            <result column="create_user" property="createUser"/>
            <result column="create_dept" property="createDept"/>
            <result column="create_time" property="createTime"/>
            <result column="update_user" property="updateUser"/>
            <result column="update_time" property="updateTime"/>
            <result column="status" property="status"/>
            <result column="is_deleted" property="isDeleted"/>
            <result column="construction_type" property="constructionType"/>
            <result column="decoration_type" property="decorationType"/>
            <result column="address" property="address"/>
            <result column="developer" property="developer"/>
            <result column="avg_price" property="avgPrice"/>
            <result column="remark" property="remark"/>
            <result column="open_status" property="openStatus"/>
            <result column="site_url" property="siteUrl"/>
            <result column="link_type" property="linkType"/>
            <result column="agency" property="agency"/>
        </collection>
    </resultMap>


    <select id="selectAppointmentConfigPage" resultMap="appointmentConfigResultMap">
        select * from house_appointment_config where is_deleted = 0
    </select>

    <select id="selectConfigWithProject" resultMap="appointmentConfigResultMap">
        SELECT a.*,
        b.*,
        b.id projectId
        from house_appointment_config a
		LEFT JOIN house_project_info b on a.project_id =  b.id
        <where>
            ${ew.getSqlSegment}
        </where>
    </select>

</mapper>
