<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.client.mapper.UserOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userOrderResultMap" type="org.springblade.client.entity.UserOrder">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="unit_id" property="unitId"/>
        <result column="user_id" property="userId"/>
        <result column="application_id" property="applicationId"/>
        <result column="ordermember" property="ordermember"/>
        <result column="EOINo" property="EOINo"/>
        <result column="block" property="block"/>
        <result column="floor" property="floor"/>
        <result column="unit" property="unit"/>
    </resultMap>


    <select id="selectUserOrderPage" resultMap="userOrderResultMap">
        select * from house_user_order where is_deleted = 0
    </select>

</mapper>
