<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.project.mapper.ProjectUnitsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="projectUnitsResultMap" type="org.springblade.project.entity.ProjectUnits">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="project_id" property="projectId"/>
        <result column="block" property="block"/>
        <result column="floor" property="floor"/>
        <result column="unit" property="unit"/>
        <result column="type" property="type"/>
        <result column="type_url" property="typeUrl"/>
        <result column="book_url" property="bookUrl"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <select id="selectProjectUnitsPage" resultMap="projectUnitsResultMap">
        select * from house_project_units where is_deleted = 0
    </select>

</mapper>
