<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.project.mapper.ProjectVrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="projectVrResultMap" type="org.springblade.project.entity.ProjectVr">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="project_id" property="projectId"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <select id="selectProjectVrPage" resultMap="projectVrResultMap">
        select * from house_project_vr where is_deleted = 0
    </select>

</mapper>
