
<!--    更改密码弹窗-->
<div id="resetPassword" th:fragment="repeat">
    <div th:if="${PAGEID == 'register'}" class="login" style="display: block">
        <!-- 遮罩层 -->
        <div class="graybox"></div>
        <div class="login_box">
            <form class="base_form" id="buyerRegForm">
                    <div class="login_left">
                        <div class="login_top">
                            <a href="javascript:;" class="closeLogin">x</a>
                            <div class="Repeat">
                                <div class="group">
                                    <input type="password" id="ForgotPassword" class="ForgotPassword" placeholder="Please Enter Your Password" value="">
                                </div>
                                <div class="group">
                                    <input type="password" id="RepeatPassword" class="RepeatPassword" placeholder="Please Enter Your Password" value="">
                                </div>
                                <input type="hidden" class="id_code" th:value="${code}">
                                <input type="hidden" class="id_username" th:value="${username}">
                                <input type="hidden" class="id_identity" th:value="${identity}"/>
                                <button id="button">确定</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
