<div class="select-myapplication" th:fragment="selectMyApplication">
    <!-- 遮罩层 -->
    <div class="graybox"></div>
    <div class="select-box">
        <a href="javascript:;" class="closeBox">x</a>
        <div class="input_container">
            <div id="qrcode"></div>
            <p class="remarks">
                Scan QR code, get your application
            </p>
        </div>
    </div>
<!--    <div class="qrcode-box">-->
<!--        <span class="backBox">-->
<!--            <i class="iconfont iconarrow_left"></i>-->
<!--        </span>-->
<!--        <div class="input_container">-->
<!--            <div id="qrcode"></div>-->
<!--            <p class="remarks">-->
<!--                Scan QR code, get your application-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
</div>
