<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.purchaseIntent.mapper.PurchaseOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="purchaseOrderResultMap" type="org.springblade.purchaseIntent.entity.PurchaseOrder">
        <id column="id" property="id"/>
        <result column="application_id" property="applicationId"/>
        <result column="project_id" property="projectId"/>
        <result column="eoi_no" property="eoiNo"/>
        <result column="unit_id" property="unitId"/>
        <result column="create_user_type" property="createUserType"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="selectPurchaseOrderPage" resultMap="purchaseOrderResultMap">
        select o.* from house_order o
        LEFT JOIN house_application a
        ON o.application_id = a.id
        <where>
            <if test="order.orderNumber != null">
                AND a.order_number = #{order.orderNumber}
            </if>
            <if test="order.projectId != null">
                AND o.project_id = #{order.projectId}
            </if>
            <if test="order.status != null">
                AND o.status = #{order.status}
            </if>
            AND o.is_deleted = 0
        </where>
        ORDER BY o.create_time DESC
    </select>

</mapper>

