<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/commons :: head(Member, user)">



<body>
<div th:replace="index/header :: header"></div>
<div th:replace="userCenter/header :: user"></div>

<!--<div class="container">-->
<!--    <div class="usercenter_box">-->
<!--        <h2 class="page_title">Change Password</h2>-->
<!--        <form class="base_form" id="applicationForm">-->

<!--            <fieldset>-->
<!--                <div class="form-group row">-->
<!--                    <label for="oldPass" class="col-sm-3 col-form-label">Old Password</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="password" class="form-control" name="oldPass" id="oldPass" placeholder="Pease Enter Old Password">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row">-->
<!--                    <label for="newPass" class="col-sm-3 col-form-label">New Password</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="password" class="form-control" name="oldPass" id="newPass" placeholder="Pease Enter New Password">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row">-->
<!--                    <label for="newPassConfirm" class="col-sm-3 col-form-label">Confirm Password</label>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="password" class="form-control" name="newPassConfirm" id="newPassConfirm" placeholder="Pease Confirm New Password">-->
<!--                    </div>-->
<!--                </div>-->

<!--            </fieldset>-->
<!--            <button class="btn btn-primary" type="button" id="submit">SAVE NEW PASSWORD</button>-->
<!--        </form>-->
<!--    </div>-->

<!--</div>-->
<div class="container">

    <div class="registry">
        <h2 class="page_title">Change Password</h2>
        <div class="registry_Profile">
            <form id="changePasswordForm" action="">
                <ul class="profile_form">
                    <li>Old Password<lable><input type="password" placeholder="Your Old Password" id="oldPass"></lable></li>
                    <li>New Password<lable><input type="password" placeholder="Your New Password" id="newPass"></lable></li>
                    <li>Confirm Password<lable><input  type="password" placeholder="Confirm Your New Password" id="confirmPass"></lable></li>
                    <li><button id="chengePasswordBtn" type="button">SAVE NEW PASSWORD</button></li>
                </ul>
            </form>
        </div>

    </div>
</div>


<div th:replace="footer :: footer"></div>


<th:block th:replace="inc/commons :: foot(user)"></th:block>


<script th:inline='javascript'>
    var identity=  $('#identity').val()

    $('#chengePasswordBtn').click(function(){
        var oldPass = $('#oldPass').val();
        var newPass = $('#newPass').val();
        var confirmPass = $('#confirmPass').val();

        //console.log(userid,newPass);
        if(oldPass == '' || newPass == '' || confirmPass == ''){
            common.alert('Please check if the password is empty!');
            return false;
        }else if(oldPass == newPass){
            common.alert("Password change failed. The new password is the same as the original password");
            $('#newPass').val("");
            $('#confirmPass').val("");
        }else if(newPass !== confirmPass){
            common.alert("Password change failed, please reconfirm password");
            $('#confirmPass').val("");
        }else{
            $.ajax({
                url:"/client/changePassword",    //请求的url地址
                dataType: "json",   //返回格式为json
                type: "POST",   //请求方式
                async:true,//请求是否异步，默认为异步，这也是ajax重要特性
                data: {
                    oldPass: oldPass,
                    newPass: newPass
                },
                success:function(res){//请求成功时处理
                    //console.log(res);
                    common.success(res.msg);
                    $("#changePasswordForm").trigger("reset")
                },
                fail:function(){//请求失败
                    console.log("fail");
                },
                error:function(){//请求出错处理
                    console.log("error");
                }
            });
        }
    })

</script>
</body>

</html>
