<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/commons :: head(Member, user)">



<body>
<div th:replace="index/header :: header"></div>
<div th:replace="userCenter/header :: user"></div>

<div class="container">
    <div class="registry">
        <h2 class="page_title">House Selection</h2>
		<!-- 选房 -->

        <!-- tab标签 -->
        <nav class="firstnav">
            <ul>
            </ul>
        </nav>
			  <div class="selectHouseBox">
			        <div class="content">
				        <div class="table">
						</div>

			        </div>
                      <div class="status-box" style="z-index: 99999;">
                          <div class="no">SOLD OUT</div>
                          <div class="yes">SELL</div>
                          <div class="na">SELECTED</div>
                      </div>
<!--			        <div class="btn">-->
<!--			            <button type="button" class="success" id="selectHouseBoxSucc">Confirm</button>-->
<!--			        </div>-->

			    </div>
			<div id="selectHouseImg">
				<div class="btn">
			            <button type="button" class="success" id="selectHouseImgSucc">Confirm</button>
			            <button type="button" class="danger" id="selectHouseImgclose">Cancel</button>
			    </div>
			</div>
            <div class="application-graybox"></div>
            <div id="application">

                <div class="container">
                    <div class="usercenter_box"a>
                        <h2 class="page_title">Purchase Information</h2>
                        <form class="base_form" id="applicationForm">
                            <div class="form-group row">
                                <label for="project" class="col-sm-3 col-form-label">Project</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="project" th:value="${project.name}">
                                    <input type="hidden" name="projectId" th:value="${project.id}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="purchaserNum" class="col-sm-3 col-form-label">Number of Purchaser</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="purchaserNum">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                            <fieldset>
                                <h3>First Purchaser Infomation</h3>
                                <div class="form-group row">
                                    <label for="purchaser1" class="col-sm-3 col-form-label">Name of Purchaser</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="purchaser1" id="purchaser1" placeholder="Pease Enter Purchaser's Name">
                                    </div>
                                </div>
                                <div class="form-group row">
<!--                                    <label for="passportNo1" class="col-sm-3 col-form-label">Last 4 Digits of NRIC</label>-->
                                    <label for="passportNo1" class="col-sm-3 col-form-label">Last 4 Characters of NRIC</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="passportNo1" id="passportNo1" placeholder="Pease Enter Purchaser's Last 4 Characters of NRIC">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nationality1" class="col-sm-3 col-form-label">Nationality</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="nationality1" id="nationality1">
                                            <option th:each="item : ${nationality}" th:value="${item.dictAlias}" th:text="${item.dictValue}">1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender1" id="gender1_male" value="1" checked>
                                            <label class="form-check-label" for="gender1_male">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender1" id="gender1_female" value="0">
                                            <label class="form-check-label" for="gender1_female">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="contact1" class="col-sm-3 col-form-label">Contact</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="contact1" id="contact1" placeholder="Pease Enter Purchaser's Mobile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email1" class="col-sm-3 col-form-label">E-mail</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="email1" id="email1" placeholder="Pease Enter Purchaser's E-mail">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="address" class="col-sm-3 col-form-label">Address</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="address" id="address" placeholder="Pease Enter Purchaser's Address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="postalCode" class="col-sm-3 col-form-label">Postal Code</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="postalCode" id="postalCode" placeholder="Pease Enter Purchaser's Postal Code">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset style="display: none" disabled id="secondPurchaser">
                                <h3>Second Purchaser Infomation</h3>
                                <div class="form-group row">
                                    <label for="purchaser2" class="col-sm-3 col-form-label">Name of Purchaser</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="purchaser2" id="purchaser2" placeholder="Pease Enter Second Purchaser's Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="passportNo2" class="col-sm-3 col-form-label">Last 4 Digits of NRIC</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="passportNo2" id="passportNo2" placeholder="Pease Enter Second Purchaser's Last 4 Digits of NRIC">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nationality2" class="col-sm-3 col-form-label">Nationality</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="nationality2" id="nationality2">
                                            <option th:each="item : ${nationality}" th:value="${item.dictAlias}" th:text="${item.dictValue}">1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender2" id="gender2_male" value="1" checked>
                                            <label class="form-check-label" for="gender2_male">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender2" id="gender2_female" value="0">
                                            <label class="form-check-label" for="gender2_female">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="contact2" class="col-sm-3 col-form-label">Contact</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="contact2" id="contact2" placeholder="Pease Enter Second Purchaser's Mobile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email2" class="col-sm-3 col-form-label">E-mail</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="email2" id="email2" placeholder="Pease Enter Second Purchaser's E-mail">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset style="display: none" disabled id="thirdPurchaser">
                                <h3>Third Purchaser Infomation</h3>
                                <div class="form-group row">
                                    <label for="purchaser3" class="col-sm-3 col-form-label">Name of Purchaser</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="purchaser3" id="purchaser3" placeholder="Pease Enter Second Purchaser's Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="passportNo3" class="col-sm-3 col-form-label">Last 4 Digits of NRIC</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="passportNo3" id="passportNo3" placeholder="Pease Enter Second Purchaser's Last 4 Digits of NRIC">
                                    </div>
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <label for="nationality3" class="col-sm-3 col-form-label">Nationality</label>-->
<!--                                    <div class="col-sm-9">-->
<!--                                        <select class="form-control" name="nationality3" id="nationality">-->
<!--                                            <option th:each="item : ${nationality}" th:value="${item.dictAlias}" th:text="${item.dictValue}">1</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender3" id="gender3_male" value="1" checked>
                                            <label class="form-check-label" for="gender3_male">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender3" id="gender3_female" value="0">
                                            <label class="form-check-label" for="gender3_female">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="contact3" class="col-sm-3 col-form-label">Contact</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="contact3" id="contact3" placeholder="Pease Enter Second Purchaser's Mobile">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email3" class="col-sm-3 col-form-label">E-mail</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="email3" id="email3" placeholder="Pease Enter Second Purchaser's E-mail">
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h3>Agent Infomation</h3>
                                <div class="form-group row">
                                    <label for="nationality3" class="col-sm-3 col-form-label">Agency</label>
                                    <div class="col-sm-9">
                                        <!--                        <select class="form-control" name="nationality3" id="nationality3">-->
                                        <!--                            <option th:each="item : ${agency}" th:value="${item.dictAlias}" th:text="${item.dictValue}">1</option>-->
                                        <!--                        </select>-->
                                        <select class="form-control" name="agency" id="agencySelect">
                                            <option th:each="item : ${agency}" th:value="${item.id}" th:text="${item.agencyName}">1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="agent" class="col-sm-3 col-form-label">Agent CEA No.</label>
                                    <div class="col-sm-9" style="display: flex">
                                        <select class="form-control agent-select" id="agentSelect" name="agentId">
                                            <!--                            <option th:each="item : ${agency}" th:value="${item.id}" th:text="${item.agencyName}">1</option>-->
                                        </select>
                                        <input style="display: none;" type="text" class="form-control agent-input" name="agent" id="agent" placeholder="Pease Enter Your Agent CEA No.(if Any)">
                                        <div style="width: 100px;line-height: 40px;margin: 0 10px;"><input class="agentOtherCheckBox" type='checkbox' name='Other' value="1"/><span style="margin: 0 10px">Other</span></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="contactInput" style="display: none;">
                                    <label for="agentContact" class="col-sm-3 col-form-label">Agent's Contact</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="agentContact" id="agentContact" placeholder="Pease Enter Your Agent's Contact">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="btn">
                        <button type="button" class="success" id="applicationSubmit">Submit</button>
                        <button type="button" class="danger" id="applicationclose">Cancel</button>
                    </div>
                </div>
            </div>
    </div>
</div>






<div th:replace="footer :: footer"></div>


<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/select2-4.0.13/dist/js/select2.min.js"></script>
<script src="/font/iconfont/iconfont.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<script src="/js/commons.js"></script>
<!--内联数据统一输出-->
<script th:inline='javascript'>
    var unitType = [[${unittype}]]
    var units = [[${unitList}]]
    var prefixUrl = [[${prefixUrl}]]
</script>
<script th:inline='javascript'>
var data = {};
var submit = false;
var agencyList = [[${agency}]]
var OtherCheckBox = false
//开盘确认按钮
function submitForm (){
    if($('.current').length !== 0){
        if(!data.projectId){
            submit = true;
            applicationShow()
            return
        }
        // console.log($('current').attr("projectId"),$('current').attr("id"));
        var unit = {}
        var unitId = $('.current').data('id')
        units.forEach(item => {
            if(unitId===item.id){
                unit = item
                return
            }
        })
        //数据格式化
        var purchaseIntentUserList = [];
        var purchaseIntentUnitList = [];
        for ( let i = 1;i<=$('#purchaserNum').val();i++){
            purchaseIntentUserList.push({
                nationality:data['nationality'+i],
                passportNo:data['passportNo'+i],
                email:data['email'+i],
                address:data['address'],
                postalCode:data['postalCode'],
                gender:data['gender'+i],
                contact:data['contact'+i],
                name:data['purchaser'+i]
            })
        }
        purchaseIntentUnitList.push({
            unitId:unitId,
            projectId:unit.projectId,
        })
        var dataTemp = {
            agent:data.agent,
            agentContact:data.agentContact,
            projectId:data.projectId,
            purchaseIntentUnitVOList:purchaseIntentUnitList,
            purchaseIntentUserList:purchaseIntentUserList
        }
        // console.log(dataTemp)
        $.ajax({
            url:"/client/orderSubmit",    //请求的url地址
            dataType: "json",   //返回格式为json
            type: "POST",   //请求方式
            data: JSON.stringify(dataTemp),
            contentType:"application/json",
            success:function(res){//请求成功时处理
                console.log(res);data = {};
                common.success(res.msg);
                applicationHide()
                window.loaction.href = '/userCenter/myProperties'
            },
            fail:function(){//请求失败
                common.alert("fail");
            },
            error:function(){//请求出错处理
                common.alert("Determine the room selection failed !");
            }
        });


    }else{
        common.alert('Please select room type first !')
    }
}
$(document).ready(function(){
 	// $.ajax({
    //     url:"http://localhost/units/getProjectAllUnits",    //请求的url地址
    //     dataType:"json",   //返回格式为json
    //     type:"GET",   //请求方式
    //     async:true,//请求是否异步，默认为异步，这也是ajax重要特性
    //     data:{
    //     	projectId:"1277846730104135682"
    //     },
    //     success:function(res){//请求成功时处理
    //
    //     	console.log(res);
    //         console.log(units);
    //         console.log(unitType);
    //     	res = res.data;
    //     	var arrMaxLength=[];
    //     	for(var i = 0;i < res.length;i ++){
    //     		for(var j = 0;j < res[i].length;j ++){
    //     			$('#tbody').append('<tr id="floor-'+i +'-' + j+ '"><tr>');
    //     			//取出units中长度最大的
    //     			if(res[i][j] && res[i][j].length > arrMaxLength.length){
    //     				arrMaxLength=res[i][j];
    //     			}
    //     			$('#floor-' + i + '-' + j).append('<td class="tab-left-title">'+res[i][j][0].block+'</td><td class="tab-left-title">'+res[i][j][0].floor+'</td>');
    //     		}
    //     	}
    //     	//设置units表头的长度
    //     	$('#unitsLength1').attr("colspan",arrMaxLength.length);
    //
    //    		//创建单元格和表头单元格
    //      	for(var i = 0;i < res.length;i ++){
    //     		for(var j = 0;j < res[i].length;j ++){
    //     			for(var k = 0;k < arrMaxLength.length;k ++){
    //     				if(i==0 && j==0){
    //     					$('#unitsLength2').append('<td>'+ (k + 1) +'</td>');
    //     				}
    //     				$('#floor-' + i + '-' + j).append('<td id="room-'+i +'-' + j+ '-' + k + '" class="emptyRoom"></td>');
    //             	}
    //     		}
    //      	}
    //
    //
    //
    //     	for(var i = 0;i < res.length;i ++){
    //     		for(var j = 0;j < res[i].length;j ++){
    //     			for(var k = 0;k < res[i][j].length;k ++){
    //     				//console.log(res[i][j][k]);
    //     				$('#room-'+i +'-' + j+ '-' + k).attr({
    //     					"saleStatus":res[i][j][k].saleStatus,
    //     					"typeUrl":res[i][j][k].typeUrl,
    //     					"projectId":res[i][j][k].projectId,
    //     					"unitId":res[i][j][k].id
    //     				})
    //
    //     				// .tab-current正在选：绿
    //
    //     		        //.tab-selected已卖：橙
    //
    //     		        //.tab-optional可挑选：蓝
    //
    //     		        //.tab-emptyRoom没有房：灰
    //     		        	if($('#room-'+i +'-' + j+ '-' + k).attr("saleStatus") == 0){
    //     		        		$('#room-'+i +'-' + j+ '-' + k).removeClass("emptyRoom");
    //         		        	$('#room-'+i +'-' + j+ '-' + k).addClass("optional");
    //         		        }
    //     		        	if($('#room-'+i +'-' + j+ '-' + k).attr("saleStatus") == 1){
    //     		        		$('#room-'+i +'-' + j+ '-' + k).removeClass("emptyRoom");
    //         		        	$('#room-'+i +'-' + j+ '-' + k).addClass("selected");
    //         		        	$('#room-'+i +'-' + j+ '-' + k).css("background","#ff6633");
    //         		        }
    //     		        	if($('#room-'+i +'-' + j+ '-' + k).attr("saleStatus") == 2){
    //     		        		$('#room-'+i +'-' + j+ '-' + k).removeClass("emptyRoom");
    //         		        	$('#room-'+i +'-' + j+ '-' + k).addClass("current");
    //         		        	$('#room-'+i +'-' + j+ '-' + k).css("background","#077c38");
    //         		        }
    //
    //         		}
    //     		}
    //     	}
    //     	//将所有的空房子背景设为灰
    //     	$('.emptyRoom').css("background","#c0b8b8");
    //
    //
  	// 		$('td[id^=room]').click(function(){
    //     		if($(this).attr("saleStatus")==0){
    //     			$('.current').removeClass("current");
    //         		$(this).addClass("current");
    //     			$('#selectHouseImg').show();
    //     			$('#selectHouseImg').css("background-image","url("+ $(this).attr("typeUrl") +")");
    //     		}else if($(this).attr("saleStatus")==1){
    //     			console.log("房型已卖完");
    //     		}
    //     	})
    //
    //     },
    //     fail:function(){//请求失败
    //         console.log("fail");
    //     },
    //     error:function(){//请求出错处理
    //         console.log("error");
    //     }
    // });

    (function onload(){
        console.log(units);
        console.log(unitType);
        var tableDom = $('.selectHouseBox .table')
        tableDom[0].innerHTML = '';
        var block=[]
        for (var i=0;i<units.length;i++){
            var temp = units[i]
            block.push(temp.block)
        }
        var blockArr = unique(block)
        for (var i=0;i<blockArr.length;i++){
            var item = blockArr[i]
            var style = '';
            if(i==0){
                style = 'liactive'
            }
            var dom = '<li class="'+style+'" data-block='+item+'><span>'+item+'</span></li>'
            $('.firstnav>ul').append(dom)
        }
        tableDom[0].innerHTML = tableInint(blockArr[0])
    })()
    $('.container .firstnav li').click(function () {
        data = {};
        $('.current').removeClass("current");
        $('.container .firstnav li').removeClass('liactive');
        $(this).eq(0).addClass('liactive');
        var tableDom = $('.selectHouseBox .table')
        tableDom[0].innerHTML = tableInint($(this).data('block'))
        $('.content .table table tbody td').click(roomPick)
    })
    $('.content .table table tbody td').click(roomPick)
    function roomPick(){
        var unit = {}
        units.forEach(item => {
            if($(this).data('id')===item.id){
                unit = item
                return
            }
        })
        if(unit.saleStatus==0){
            data = {};
            $('.current').removeClass("current");
            $(this).addClass("current");
            $('#selectHouseImg').show();
            $('#selectHouseImg').css("background-image","url("+ $(this).data("typeurl") +")");
        }else if(unit.saleStatus==1){
            console.log("Room types are sold out!");
        }
    }
 	function tableInint(block) {
        var filterUnitArr =[]
        units.forEach(item => {
            if(item.block == block){
                filterUnitArr.push(item)
            }
        })
        if(!Array.isArray(filterUnitArr)){return}
        var floorArrTemp = []
        var unitArrTemp = []
        var row;
        for (var i=0;i<filterUnitArr.length;i++){
            var temp = filterUnitArr[i]
            floorArrTemp.push(temp.floor)
            unitArrTemp.push(temp.unit)
        }
        var floorArr = unique(floorArrTemp).reverse()
        var unitArr = unique(unitArrTemp)


        var rowTemp ='<td> Floor/Unit </td>'
        for (var x=0;x<unitArr.length;x++){
            var unitTemp = unitArr[x]
            rowTemp += '<td>'+unitTemp+'</td>'
        }
        row = '<thead>'+rowTemp+'</thead>'

        for (var i=0;i<floorArr.length;i++){
            var floorTemp = floorArr[i]
            var td = ''
            for (var x=-1;x<unitArr.length;x++){
                var val =''
                var id =''
                var style= ''
                var saleStatus=0
                var imgUrl =''
                if(x>-1){
                    var unit = {}
                    filterUnitArr.forEach(o => {
                        if(o.floor == floorTemp && o.unit == unitArr[x]){
                            unit = o
                            return
                        }
                    })
                    var unitTypeId = unit.typeId
                    var unitTypeEL = {}
                    unitType.forEach(o => {
                        if(o.id==unitTypeId){
                            unitTypeEL = o
                            return
                        }
                    })
                    val = unitTypeEL.typeName ? unitTypeEL.typeName : ''
                    id = unit.id ? unit.id : ''
                    saleStatus = unit.saleStatus
                    imgUrl = unitTypeEL.typeUrl ? prefixUrl+unitTypeEL.typeUrl : ''
                }
                var str = (x===-1?floorTemp:val)
                if(x!=-1){
                    switch (saleStatus) {
                        case 0:
                            style = 'class="optional"'
                            break;
                        case 1:
                            style = 'class="selected"'
                            break;
                        case 2:
                            style = 'class="current"'
                            break;
                        default:
                            style = 'style="color:#909399;cursor: default;"'
                            break;
                    }
                }
                td += '<td data-typeUrl="'+imgUrl+'" data-id="'+id+'" '+style+'>'+str+'</td>'
            }
            row += '<tr>' + td + '</tr>'
        }
        return '<table>'+row+'</table>'
    }
    function unique(arr) {
        if(!Array.isArray(arr)){
            return
        }
        var array = []
        for (var i=0;i<arr.length;i++){
            if(array.indexOf(arr[i]) === -1){
                array.push(arr[i])
            }
        }
        return array
    }
})
$('.model_list ul li:eq(2)').addClass('active').siblings().removeClass('active');


$('#selectHouseBoxSucc').click(function(){
	if($('.current').length !== 0){
        if(!data.projectId){
            submit = true;
            applicationShow()
            return
        }
		console.log($('current').attr("projectId"),$('current').attr("id"));
        var unit = {}
        var unitId = $('.current').data('id')
        units.forEach(item => {
            if(unitId===item.id){
                unit = item
                return
            }
        })
        //数据格式化
        var purchaseIntentUserList = [];
        var purchaseIntentUnitList = [];
        for ( let i = 1;i<=$('#purchaserNum').val();i++){
            purchaseIntentUserList.push({
                nationality:data['nationality'+i],
                passportNo:data['passportNo'+i],
                email:data['email'+i],
                address:data['address'],
                postalCode:data['postalCode'],
                gender:data['gender'+i],
                contact:data['contact'+i],
                name:data['purchaser'+i]
            })
        }
        purchaseIntentUnitList.push({
            unitId:unitId,
            projectId:unit.projectId,
        })
        var dataTemp = {
            agent:data.agent,
            agentContact:data.agentContact,
            projectId:data.projectId,
            purchaseIntentUnitVOList:purchaseIntentUnitList,
            purchaseIntentUserList:purchaseIntentUserList
        }
        console.log(dataTemp)
		$.ajax({
			  url:"/client/orderSubmit",    //请求的url地址
              dataType: "json",   //返回格式为json
              type: "POST",   //请求方式
              data: JSON.stringify(dataTemp),
              contentType:"application/json",
	          success:function(res){//请求成功时处理
	            console.log(res);data = {};
	            common.success(res.msg);
	          },
	          fail:function(){//请求失败
                  common.alert("fail");
	          },
	          error:function(){//请求出错处理
                  common.alert("Determine the room selection failed !");
	          }
	      });


	}else{
        common.alert('Please select room type first !')
	}
})

$('#selectHouseImgclose').click(function(){
    $('#selectHouseImg').hide();
})
$('#selectHouseImgSucc').click(function(){
    applicationShow()
    $('#selectHouseImg').hide();
})
$('#applicationclose').click(function(){
    submit = false;
    applicationHide()
})
$('#applicationSubmit').click(function(){
    var dataArr = $('#applicationForm').serializeArray()
    dataArr.forEach(function(item){
        data[item.name] = item.value
    })

    console.log(data)
    submitForm()
    // if(submit){
    //     $('#selectHouseBoxSucc').click()
    // }
})

$('#purchaserNum').on('change', function(){
    var val = $('#purchaserNum').val()
    if (val == 2) {
        $('#secondPurchaser').show().prop('disabled', false)
        $('#thirdPurchaser').hide().prop('disabled', true)
    } else if(val == 3){
        $('#thirdPurchaser').show().prop('disabled', false)
        $('#secondPurchaser').show().prop('disabled', false)
    } else {
        $('#secondPurchaser').hide().prop('disabled', true)
        $('#thirdPurchaser').hide().prop('disabled', true)
    }
})
function applicationShow() {
    $('#application').show();
    $('.application-graybox').show();
    $('body').css({
        overflow: 'hidden'
    });
}
function applicationHide() {
    $('#application').hide();
    $('.application-graybox').hide();
    $('body').css({
        overflow: 'auto'
    });
}

//agency
$('.agentOtherCheckBox').on('change', function () {
    OtherCheckBox = !OtherCheckBox
    if(OtherCheckBox){
        $('#contactInput').show()
        $('.agent-select').hide()
        $('.agent-input').show()
        $('#agentSelect').val('')
        $('#agentContact').val('')
    }else{
        $('#contactInput').hide()
        $('.agent-select').show()
        $('.agent-input').hide()
        $('#agent').val('')
        $('#agentSelect').val('')
    }
})
$('#agencySelect').on('change', function () {
    var id = $(this).val()
    setDefaultAgent(id ? id : -1)
})
$('#agentSelect').on('change', function () {
    $('#agentContact').val($(this).find("option:selected").data('mobile'))
})
function setDefaultAgent(agencyId) {
    if(agencyList.length>0 || agencyId){
        var id = agencyId ? agencyId : agencyList[0].id
        $.ajax({
            url:"/webuser/useragent/list",    //请求的url地址
            dataType:"json",   //返回格式为json
            type:"GET",   //请求方式
            async:true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: {
                company: id
            },
            success:function(res){//请求成功时处理
                var agentList = res.data.records
                $('.agent-select').html('')
                console.log(agentList)
                for (var i = 0; i < agentList.length; i++) {
                    var item = agentList[i]
                    $(".agent-select").append("<option data-mobile='"+item.mobile+"' value='"+item.id+"'>"+item.name+"</option>");
                    if(i == 0){
                        $('#agentContact').val(item.mobile)
                    }
                }
            },
            fail:function(){//请求失败
                common.alert('The number entered is wrong');
            },
            error:function(){//请求出错处理
                common.alert('The number entered is wrong');
            }
        });
    }
}
setDefaultAgent(false)
</script>
</body>

</html>
