<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>项目首页</title>


    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="/plugins/swiper-6.0.4/package/swiper-bundle.min.css" media="all">
    <link rel="stylesheet" href="/plugins/animate/animate.min.css" media="all">
    <link rel="stylesheet" href="/css/style-site.css" media="all">
</head>
<body>
<div id="header">
    <div class="logo"></div>
    <div class="top-menu">
        <ul class="menu">
            <li class="submenu">
                <div class="name">PREMIUM PROPERTY</div>
            </li>
            <div class="subcontent">
                <div class="content-l">
                    <div class="pj-type">
                        <div class="type-tit">Residential Projects</div>
                        <div class="type-list">
                            <a>Current Projects</a>
                            <a href="#">Queens Peak</a>
                            <a>Upcoming Projects</a>
                            <a href="#">Landmark</a>
                            <a href="#">Bernam Street</a>
                            <a>Completed Projects</a>
                            <a href="#">The Alps Residences</a>
                        </div>
                    </div>
                    <div class="pj-type">
                        <div class="type-tit">Commercial Projects</div>
                        <div class="type-list">
                            <a href="#">The Poiz Centre</a>
                        </div>
                    </div>
                    <div class="pj-type">
                        <div class="type-tit">Overseas Projects</div>
                        <div class="type-list">
                            <a href="#">Sky Villa @ Phnom Penh, Cambodia</a>
                            <a href="#">Living Star @ Jakarta, Indonesia</a>
                        </div>
                    </div>
                </div>
                <div class="content-r">
                    <div class="media">
                        <img src="/media/menu/sub/media1.jpg" alt=""/>
                    </div>
                </div>

            </div>
            <li class="submenu">
                <div class="name">MCC SPACE</div>
            </li>
            <li class="submenu">
                <div class="name">VR</div>
            </li>
            <div class="subcontent">
                <div class="content">
                    <div class="media">
                        <img src="/media/vr/1.jpg" alt=""/>
                        <span class="lab">B1-2BR</span>

                    </div>
                    <div class="media">
                        <img src="/media/vr/2.jpg" alt=""/>
                        <span class="lab">C8-3BR+PL</span>
                    </div>
                    <div class="media">
                        <img src="/media/vr/3.jpg" alt=""/>
                        <span class="lab">C8-3BR+PL</span>

                    </div>
                </div>

            </div>
            <li class="submenu">
                <div class="name">LIVE</div>
            </li>
            <div class="subcontent">
                <div class="content">
                    <div class="media">
                        <img src="/media/video/1.png" alt=""/>
                        <span class="lab">Developer</span>
                    </div>
                    <div class="media">
                        <img src="/media/video/2.png" alt=""/>
                        <span class="lab">Developer</span>
                    </div>
                    <div class="media">
                        <img src="/media/video/3.png" alt=""/>
                        <span class="lab">Developer</span>
                    </div>
                </div>

            </div>
            <li class="submenu">
                <div class="name">ONLINE APPLICATION</div>
            </li>
            <div class="subcontent">
                <div class="content-l">
                    <div class="pj-type">
                        <div class="type-tit">Residential Projects</div>
                        <div class="type-list">
                            <a>Current Projects</a>
                            <a href="#">Queens Peak</a>
                            <a>Upcoming Projects</a>
                            <a href="#">Landmark</a>
                            <a href="#">Bernam Street</a>
                            <a>Completed Projects</a>
                            <a href="#">The Alps Residences</a>
                        </div>
                    </div>
                    <div class="pj-type">
                        <div class="type-tit">Commercial Projects</div>
                        <div class="type-list">
                            <a href="#">The Poiz Centre</a>
                        </div>
                    </div>
                    <div class="pj-type">
                        <div class="type-tit">Overseas Projects</div>
                        <div class="type-list">
                            <a href="#">Sky Villa @ Phnom Penh, Cambodia</a>
                            <a href="#">Living Star @ Jakarta, Indonesia</a>
                        </div>
                    </div>
                </div>
                <div class="content-r">
                    <div class="media">
                        <img src="/media/menu/sub/media1.jpg" alt=""/>
                    </div>
                </div>

            </div>
            <li class="submenu">
                <div class="name">MEMBER</div>
            </li>
            <li class="submenu">
                <div class="name">FINANCE</div>
            </li>
        </ul>
        <div class="menu-toolbar">
            <div class="btnSearch"><i class="iconfont iconsousuo"></i></div>
            <div class="btn-group">
                <input id="eninput" checked="checked" type="radio" name="lan"/>
                <label for="eninput">En</label>
                <input id="chinput" type="radio" name="lan"/>
                <label for="chinput">中文</label>
            </div>
            <button type="button" class="login-btn"><span>LOGIN</span></button>
        </div>


        <div class="header__screen" id="search-full-screen">
            <span class="header__screen-close mask__close-btn"><i class="iconfont iconguanbi"></i></span>
            <div class="header__screen-container">
                <div class="header__screen-title">
                    <span class="header__screen-title-font1">Find Your Dream Home</span><br>
                    <span class="header__screen-title-font2">We Have Over Million Properties For You</span>
                </div>
                <div class="header__screen-box">
                    <select class="header__select header__select-localtion" name="" id="">
                        <option value=""></option>
                        <option value="1">Singapore</option>
                        <option value="2">Overseas</option>
                    </select>
                    <select class="header__select header__select-status" name="" id="">
                        <option value=""></option>
                        <option value="1">HOT SALE</option>
                        <option value="2">COMPLETED</option>
                        <option value="3">FULLY SOLD</option>
                    </select>
                    <select class="header__select header__select-type" name="" id="">
                        <option value=""></option>
                        <option value="1">Residence</option>
                        <option value="2">Commerce</option>
                    </select>
                    <br>
                    <select class="header__select header__select-bedrooms" name="" id="">
                        <option value=""></option>
                        <option value="1">1-Bedroom</option>
                        <option value="2">2-Bedroom</option>
                        <option value="3">3-Bedroom</option>
                        <option value="4">4-Bedroom</option>
                        <option value="5">1-Bedroom + Study</option>
                        <option value="6">2-Bedroom + Study</option>
                        <option value="7">3-Bedroom + Study</option>
                        <option value="8">Penthouse</option>
                    </select>
                    <select class="header__select header__select-price" name="" id="">
                        <option value=""></option>
                        <option value="1">0~100W</option>
                        <option value="2">100W~200W</option>
                        <option value="3">200W~300W</option>
                        <option value="4">300W~500W</option>
                        <option value="5">500W+</option>
                    </select>
                    <button class="header__screen-button">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="body">

        <!-- 首页轮播 -->

        <!-- 项目导航 -->

        <!-- 项目介绍 -->

        <div class="container-fluid" id="introBox">
    <div class="box">
        <div class="box-title">
            <h2 class="box-title__content">INTRODUCTION</h2>
            <h4 class="box-title__sub">QUEENS PEAK</h4>
        </div>
        <div class="box-content">
            <div class="row">
                <div class="col-xl-7">
                    <div class="intro__pic bg-img" style="background-image: url(/media/intro/1.jpg);"></div>
                </div>
                <div class="col-xl-5">
                    <div class="intro">
                        <div class="intro__content">
                            <div class="intro__title">
                                NOT JUST A RESIDENCE BUTA STATEMENT OF WHO YOU ARE
                            </div>
                            <div class="intro__desc">
                                <p>Rising forty-four storeys into the sky across two residential towers, Queens Peaks' sinuously contoured balconies give the facade a sculptural presence that at once evoke a sense of awe.</p>
                                <p>Impeccably positioned in the Queenstown district, the new lifestyle hub with the added bonus of a city fringe location and MRT connectivity, Queens Peak is truly close to everything that you have ever wished for.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

        <!-- Gallery -->

        <div class="container-fluid" id="galleryBox">
    <div class="box">
        <div class="box-title">
            <h2 class="box-title__content">GALLERY</h2>
            <h4 class="box-title__sub">QUEENS PEAK</h4>
        </div>
        <div class="box-content">
            <div id="certify">
                <div class="swiper-container banner-swiper">
                    <div class="swiper-wrapper">
                        <a class="swiper-slide" href="/media/gallery/banner1.jpg"><img src="/media/gallery/banner1.jpg"/></a>
                        <a class="swiper-slide" href="/media/gallery/banner2.jpg"><img src="/media/gallery/banner2.jpg"/></a>
                        <a class="swiper-slide" href="/media/gallery/banner3.jpg"><img src="/media/gallery/banner3.jpg"/></a>
                        <!--<a class="swiper-slide" href="/media/gallery/banner4.jpg"><img src="/media/gallery/banner4.jpg"/></a>-->
                        <!--<a class="swiper-slide" href="/media/gallery/banner5.jpg"><img src="/media/gallery/banner5.jpg"/></a>-->
                        <!--<a class="swiper-slide" href="/media/gallery/banner6.jpg"><img src="/media/gallery/banner6.jpg"/></a>-->
                        <!--<a class="swiper-slide" href="/media/gallery/banner7.jpg"><img src="/media/gallery/banner7.jpg"/></a>-->
                        <!--<a class="swiper-slide" href="/media/gallery/banner8.jpg"><img src="/media/gallery/banner8.jpg"/></a>-->
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"><i class="iconfont"></i></div>
                <div class="swiper-button-next"></div>

            </div>
        </div>
    </div>
</div>


        <!-- Location -->

        <div class="container-fluid" id="locationBox">
    <div class="box">
        <div class="box-title">
            <h2 class="box-title__content">LOCATION</h2>
            <h4 class="box-title__sub">QUEENS PEAK</h4>
        </div>
        <div class="box-content">
            <div class="row p12">
                <div class="col-xxl-8 col-xl-7">
                    <div class="location__pic bg-img" style="background-image: url(/img/sitePlan/siteplan-pic1.jpg);"></div>
                </div>
                <div class="col-xxl-4 col-xl-5">
                    <div class="location__content">
                        <div class="location__logo">
                            <img src="/media/location/logo.png" alt="">
                        </div>
                        <div class="location__address">
                            <h2 class="location__address-title">Located At</h2>
                            <div class="location__address-desc">District 03,Queenstown,Dundee Road</div>
                        </div>
                        <div class="location__neighbourhood">
                            <h2 class="location__neighbourhood-title">NEARBY AMENITIES</h2>
                            <div class="location__neighbourhood-content">
                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/1.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">KL-SG High Speed Rail</h3>
                                        <p class="location__neighbourhood-item__desc">5 to 10 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/2.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Botanic Gardens MRT (5 MRT Stops) (UNESCO World Heritage Site)</h3>
                                        <p class="location__neighbourhood-item__desc">15 to 20 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/3.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Dempsey Hill</h3>
                                        <p class="location__neighbourhood-item__desc">5 to 15 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/4.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Holland Village MRT (3 MRT Stops)</h3>
                                        <p class="location__neighbourhood-item__desc">15 to 20 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/5.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Buona Vista MRT(2 MRT Stops)</h3>
                                        <p class="location__neighbourhood-item__desc">15 to 30 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/6.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Tiong Bahru MRT (2 MRT Stops)</h3>
                                        <p class="location__neighbourhood-item__desc">20 to 25 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/7.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Downtown MRT (6 MRT Stops)</h3>
                                        <p class="location__neighbourhood-item__desc">15 to 20 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/8.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">HabourFront MRT (4 MRT Stops)</h3>
                                        <p class="location__neighbourhood-item__desc">15 to 20 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/9.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Marina Bay MRT (6 MRT Stops)</h3>
                                        <p class="location__neighbourhood-item__desc">5 to 10 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/10.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Bayfront MRT (7 MRT Stops)</h3>
                                        <p class="location__neighbourhood-item__desc">15 to 20 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/11.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Orchard MRT (8 MRT Stops)</h3>
                                        <p class="location__neighbourhood-item__desc">25 to 35 minutes</p>
                                    </div>
                                </div>

                                <div class="location__neighbourhood-item">
                                    <div class="location__neighbourhood-item__pic bg-img" style="background-image: url(/media/location/12.jpg);"></div>
                                    <div class="location__neighbourhood-item__content">
                                        <h3 class="location__neighbourhood-item__title">Changi Airport MRT (17 MRT Stops)</h3>
                                        <p class="location__neighbourhood-item__desc">10 to 20 minutes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- Video -->

        <div class="container-fluid" id="videoBox">
    <div class="box">
        <div class="box-title">
            <h2 class="box-title__content">VIDEO</h2>
            <h4 class="box-title__sub">QUEENS PEAK</h4>
        </div>

        <div class="box-content">
            <div class="row">
                <div class="col-xl-6">
                    <div class="video-player" data-src="/media/1.mp4" data-title="Developer" data-desc="Some Description">
                        <div class="video-player__pic bg-img" style="background-image: url(/media/video/1.png);"></div>
                        <div class="video-player__content">
                            <div class="video-player__title">Developer</div>
                            <div class="video-player__desc">Some Description</div>
                        </div>
                        <div class="video-player__play">
                            <a href="JavaScript:;" class="video-player__play-btn">PLAY</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="video-item" data-src="/media/1.mp4" data-title="Developer" data-desc="Some Description">
                                <div class="video-item__pic bg-img" style="background-image: url(/media/video/2.png);"></div>
                                <div class="video-item__content">
                                    <div class="video-item__title">Developer</div>
                                    <div class="video-item__desc">Some Description</div>
                                </div>
                                <div class="video-item__play">
                                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconplay"></use></svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="video-item" data-src="/media/1.mp4" data-title="Developer" data-desc="Some Description">
                                <div class="video-item__pic bg-img" style="background-image: url(/media/video/3.png);"></div>
                                <div class="video-item__content">
                                    <div class="video-item__title">Developer</div>
                                    <div class="video-item__desc">Some Description</div>
                                </div>
                                <div class="video-item__play">
                                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconplay"></use></svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="video-item" data-src="/media/1.mp4" data-title="Developer" data-desc="Some Description">
                                <div class="video-item__pic bg-img" style="background-image: url(/media/video/4.png);"></div>
                                <div class="video-item__content">
                                    <div class="video-item__title">Developer</div>
                                    <div class="video-item__desc">Some Description</div>
                                </div>
                                <div class="video-item__play">
                                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconplay"></use></svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="video-item" data-src="/media/1.mp4" data-title="Developer" data-desc="Some Description">
                                <div class="video-item__pic bg-img" style="background-image: url(/media/video/5.png);"></div>
                                <div class="video-item__content">
                                    <div class="video-item__title">Developer</div>
                                    <div class="video-item__desc">Some Description</div>
                                </div>
                                <div class="video-item__play">
                                    <svg class="icon" aria-hidden="true"><use xlink:href="#iconplay"></use></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-container">
      <div class="mask">
        <div class="mask__close-btn" id="close"><i class="iconfont iconguanbi"></i></div>
        <div class="video-content">
          <div class="video-title">title</div>
          <div class="video-desc">test</div>
          <div class="vedio-media"></div>
        </div>
      </div>
    </div>
</div>

        <!-- Site Plan -->

        <div class="container-fluid" id="siteplanBox">
    <div class="box">
        <div class="box-title">
            <h2 class="box-title__content">SITE PLAN</h2>
            <h4 class="box-title__sub">QUEENS PEAK</h4>
        </div>
        <div class="box-content">
            <div class="siteplan">
                <div class="siteplan__pic">
                    <a href="/media/siteplan/0.jpg" data-index="0" class="active">
                        <img src="/media/siteplan/0.jpg" alt="">
                    </a>
                    <a href="/media/siteplan/1.jpg" data-index="1">
                        <img src="/media/siteplan/1.jpg" alt="">
                    </a>
                    <a href="/media/siteplan/2.jpg" data-index="2">
                        <img src="/media/siteplan/2.jpg" alt="">
                    </a>
                </div>
                <div class="siteplan__btn">
                    <a href="javascript:;" class="siteplan__btn-item siteplan__btn-item_active"
                       data-src="/media/siteplan/0.jpg" data-index="0">1st Floor</a>
                    <a href="javascript:;" class="siteplan__btn-item" data-src="/media/siteplan/1.jpg" data-index="1">7th Floor</a>
                    <a href="javascript:;" class="siteplan__btn-item" data-src="/media/siteplan/2.jpg" data-index="2">27th Floor</a>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- Floor Plan -->

        <div class="container-fluid" id="floorplanBox">
            <div class="box">
                <div class="box-title">
                    <h2 class="box-title__content">FLOOR PLAN</h2>
                    <h4 class="box-title__sub">QUEENS PEAK</h4>
                </div>
                <div class="box-content">
                    23123123
                </div>
            </div>
        </div>

        <!-- VR -->

        <div class="container-fluid" id="vrBox">
    <div class="box">
        <div class="box-title">
            <h2 class="box-title__content">Virtual reality</h2>
            <h4 class="box-title__sub">QUEENS PEAK</h4>
        </div>
    </div>
    <div class="box-content">
        <div class="vr">
            <div class="vr__item bg-img" style="background-image: url(/media/vr/1.jpg);" data-src="https://my.matterport.com/show/?m=KHLdRDNjwd7">
                <h3 class="vr__item_title">B1-2BR</h3>
            </div>
            <div class="vr__item bg-img" style="background-image: url(/media/vr/2.jpg);" data-src="https://my.matterport.com/show/?m=KHLdRDNjwd7">
                <h3 class="vr__item_title">C8-3BR+PL</h3>
            </div>
            <div class="vr__item bg-img" style="background-image: url(/media/vr/3.jpg);" data-src="https://my.matterport.com/show/?m=KHLdRDNjwd7">
                <h3 class="vr__item_title">C8-3BR+PL</h3>
            </div>
        </div>


    </div>
    <div class="vr__screen mask" id="vr-full-screen">
        <span class="vr__screen-close mask__close-btn"><i class="iconfont iconguanbi"></i></span>
        <iframe src="" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7);"></iframe>
            <!-- <img src="/img/sitePlan/siteplan-pic1.jpg" alt=""> -->
    </div>
</div>

        <!-- 360 View -->

        <div class="container-fluid" id="view360Box">
    <div class="box">
        <div class="box-title">
            <h2 class="box-title__content">360 VIEW</h2>
            <h4 class="box-title__sub">QUEENS PEAK</h4>
        </div>
        <div class="box-content">
            <div class="view360">
                <div class="view360__pic bg-img">
                    
                    <div class="wrapper"></div>
                    <div class="view360__pic-icon view360__pic-icon-day iconShow" style="background-color: #FFF;"><i style="color: #000;" class="iconfont">&#xe611;</i></div>
                    <div class="view360__pic-icon view360__pic-icon-night"><i class="iconfont">&#xe616;</i></div>
                </div>
                <div class="view360__btn">
                    <a href="javascript:;" class="view360__btn-item view360__btn-item_active" data-src="lvl08">Level 08</a>
                    <a href="javascript:;" class="view360__btn-item" data-src='lvl18'>Level 18</a>
                    <a href="javascript:;" class="view360__btn-item" data-src="lvl27">Level 27</a>
                    <a href="javascript:;" class="view360__btn-item" data-src="lvl35">Level 35</a>
                    <a href="javascript:;" class="view360__btn-item" data-src="lvl44">Level 44</a>
                </div>
            </div>
        </div>
    </div>

</div>

        <!-- Events -->

        <div class="container-fluid" id="eventsBox">
    <div class="box">
        <div class="box-title">
            <h2 class="box-title__content">EVENT</h2>
            <h4 class="box-title__sub">QUEENS PEAK</h4>
        </div>
        <div class="box-content">
            <div class="event">
                <div class="event-item">
                    <div class="event-item__pic bg-img" style="background-image: url(http://temp.im/1000x1000);">
                        <div class="event-item__pic-tips">LIVE</div>
                        <!-- class="video-js vjs-big-play-centered" -->
                        <!-- controls -->
                        <!-- <video id="videoMedia" width="1000" height="1000"  > -->
                        <video id="eventVideo" width="885" height="700" class="video-js vjs-big-play-centered" controls>
                          <source src="/media/1.mp4" type="video/mp4"></source>
                        </video>
                    </div>
                    <div class="event-item__content">
                        <h3 class="event-item__title">
                            <span>FORM AND FUNCTIONINSPIRED BY NATURE</span>
                        </h3>
                        <div class="event-item__desc">
                            Good architecture is naturally elegant. It pushes the boundaries of design by integrating form and function. Inspired by nature, the artful contours create an illusion of movement, heightening the sense of how captivating the balconies are from the outside, as the views it provide looking out from within.
                        </div>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-item__pic bg-img" style="background-image: url(/media/video/1.png);">
                        <div class="event-item__pic-tips">EVENT</div>
                    </div>
                    <div class="event-item__content">
                        <h3 class="event-item__title">
                            <span>FORM AND FUNCTIONINSPIRED BY NATURE</span>
                        </h3>
                        <div class="event-item__desc">
                            Good architecture is naturally elegant. It pushes the boundaries of design by integrating form and function. Inspired by nature, the artful contours create an illusion of movement, heightening the sense of how captivating the balconies are from the outside, as the views it provide looking out from within.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
<div id="footer" class="footer">

    <div class="row">
        <div class="col-sm region-col">
            <div class="f-list">
                <div class="f-tit">MCC LAND (SINGAPORE) PTE LTD</div>
                <a class="f-item">21 Bukit Batok Crescent,</a>
                <a class="f-item">#19-77 WCEGA Tower,</a>
                <a class="f-item">Singapore 658065</a>
                <a class="f-item"></a>
                <a class="f-item">Email: sales@mcc.sg</a>
            </div>

        </div>
        <div class="col-sm region-col">
            <div class="row">
                <div class="col-sm">
                    <div class="f-list">
                        <div class="row">
                            <div class="col-sm">
                                <div class="f-tit">Residential</div>
                                <a href="#" class="f-item">Current Projects</a>
                                <a class="f-item">Queens Peak</a>
                                <a class="f-item"></a>
                                <a href="#" class="f-item">Upcoming Projects</a>
                                <a class="f-item">Landmark</a>
                                <a class="f-item">Bernam Street</a>
                                <a class="f-item">Canberra Link EC</a></div>
                            <div class="col-sm">
                                <div class="f-tit">&nbsp;</div>
                                <a href="#" class="f-item">Completed Projects</a>
                                <a class="f-item">The Alps Residences</a>
                                <a class="f-item">Northwave EC</a>
                                <a class="f-item">The Poiz Residences</a>
                                <a class="f-item">TRE Residences</a>
                                <a class="f-item">The Santorini</a>
                                <a class="f-item">Sea Horizon EC</a>
                                <a class="f-item">Forestville EC</a>
                                <a class="f-item">One Canberra EC</a>
                                <a class="f-item">The Nautical</a>
                                <a class="f-item">Canberra Residences</a>
                                <a class="f-item">The Canopy EC</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm region-col">
            <div class="f-list">
                <div class="f-tit">Commercial</div>
                <a class="f-item">The Poiz Centre</a>
                <div class="f-tit" style="margin-top: 40px;">OVERSEAS</div>
                <a class="f-item">Sky Villa @ Phnom Penh, Cambodia</a>
                <a class="f-item">Living Star @ Jakarta, Indonesia</a>
            </div>
        </div>
        <div class="col-sm region-col noline">
            <div class="row">
                <div class="col-sm">
                    <div class="f-list">
                        <div class="row">
                            <div class="col-sm">
                                <div class="f-tit">CONTACT US</div>
                                <a class="f-item f-sub-tit">General&nbsp;Enquiry</a>
                                <a class="f-item">T: +65 6508 2288</a>
                                <a class="f-item">F: +65 6508 2289</a>
                                <a class="f-item">E:&nbsp;sales@mcc.sg</a>
                                <a class="f-item"></a></div>
                            <div class="col-sm">
                                <div class="f-tit">&nbsp;</div>
                                <a class="f-item f-sub-tit">The Poiz Centre Hotline</a>
                                <a class="f-item">T: +65 8338 7800</a>
                                <a class="f-item">E: contact@thepoizcentre.com.sg</a>
                                <a class="f-item"></a>
                                <a class="f-item f-sub-tit">Sky Villa @ Phnom Penh (Cambodia)</a>
                                <a class="f-item f-sub-tit">Sales Enquiry</a>
                                <a class="f-item">T: +855 99-821919</a>
                                <a class="f-item">E: skyvillasales@mcc.sg</a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/swiper-6.0.4/package/swiper-bundle.min.js"></script>
<script src="/plugins/select2-4.0.13/dist/js/select2.min.js"></script>
<script src="/plugins/share/dist/js/social-share.min.js"></script>
<script src="/plugins/lightgallery/demo/js/lightgallery.min.js"></script>
<script src="/plugins/lightgallery/demo/js/lg-zoom.min.js"></script>
<script src="/plugins/lightgallery/demo/js/lg-thumbnail.min.js"></script>
<script src="/plugins/lightgallery/demo/js/lg-autoplay.js"></script>
<script src="https://cdn.staticfile.org/video.js/7.9.2/video.min.js"></script>
<script src="/plugins/Watch3D/dist/watch3D.js "></script>
<script src="/font/iconfont/iconfont.js"></script>
<script src="//api.map.baidu.com/api?v=2.0&ak=dWQTUFqH4jZ3h8ts0uLGGgS82YTgEtsn"></script>



<script>

</script>
</body>
</html>
